body {
	background-color: #ffffff;
}
#title {
	border-width: 0.3em;
	border-style: dashed;
	border-color: black;
	border-radius: 35%;

	background-color: rgb(211, 211, 211);
	color: hsl(240, 100%, 25%);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

.header h2 {
	text-align: center;
	color: red;
	text-decoration: wavy underline;
}

#fieldset {
	border: 3px solid red;
	padding: 0.25in 1cm 0.25in 1cm;
	margin: 10mm 10mm 10mm 10mm;
}

video {
	margin-right: auto;
	margin-left: 40px;
	margin-bottom: 5vw;
	margin-top: 1ex;
}

audio {
	margin: auto;
}
/*
audio {
	margin-right: auto;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
*/
